/*
 *
 * CSS Reset
 *
 */
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

li	{
	display: none;
}

li:first-child {
	display: block;
}

body {
	background-image: url(../img/xmas.jpg);
	/*text-align: center;
	letter-spacing: 1.5px;
	line-height: 1.6;
	font-family: 'Farsan', cursive;
	font-weight: bold;*/
}

div.songContent {
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.3;
	font-family: 'Farsan', cursive;
	font-weight: bold;
}

div.songContent > h1	{
	font-family: 'Great Vibes', cursive;
	margin-top: 20px;
}

div.songContent > ul {
	margin-top: 15px;
}

